/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Yellow: hsl(47, 88%, 63%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 50%)
- Black: hsl(0, 0%, 7%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Figtree](https://fonts.google.com/specimen/Figtree)
- Weights: 600, 800
*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
:root{
   --Yellow: hsl(47, 88%, 63%); 
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: "Figtree";
    background-color: var(--Yellow);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.card {
    background-color: var(--White);
    width: 375px;
    border-radius: 1em;
    padding: 1.5em;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
border: 1px solid black;
}

.card__image img{
    max-width: 100%;
    border-radius: 0.8em;
    margin-bottom: 1em;
}

.card__tag {
    background-color: var(--Yellow);
    padding: 0.4em 1em;
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: 0.4em;
    width: 6em;
    margin-bottom: 1em;
}

.card__date{
    color: hsl(0, 1%, 26%);
    margin-bottom: 1em;
    font-size: 0.9rem;
}

h1{
    font-size: 1.5rem;
    margin-bottom: 1em;
}

h1:hover{
    cursor: pointer;
    color: var(--Yellow);
    caret-color: black;
}

.card__description{
    font-size: 1rem;
    color: var(--Grey);
    line-height: 1.5;
    margin-bottom: 1.5em;
}

.card__line{
    display: flex;
    align-items: center;
    gap: 1em;
}

.card__line img{
    width: 40px;
}

.card__line__name{
    font-weight: 700;
}